<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="w-full h-screen">
    <!-- Navbar -->
    <nav class="bg-gray-800 text-white h-[10%] shadow-lg">
        <div class="container mx-auto flex items-center justify-between p-4">
          <!-- Left: Logo -->
          <div class="text-2xl font-bold hover:text-gray-300 transition duration-300">
            <a href="/">A BLOG</a>
          </div>
      
          <!-- Right: Buttons -->
          <div class="hidden md:flex items-center space-x-4">
            <a href="user/loginUser" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition duration-300">
              Log In
            </a>
            <a href="user/registerUser" class="px-4 py-2 border border-blue-600 text-blue-600 rounded hover:bg-blue-600 hover:text-white transition duration-300">
              Sign Up
            </a>
          </div>
      </nav>
</body>

</html>